<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.css"/>
</head>
<body>
    <div class="ui raised segment">
        <h3 class="ui inverted basic block header">Fitbit Dashboard</h3>
        <div class="ui grid">
            <div class="row">
                <div class="center aligned sixteen wide column">
                    <div class="ui statistic">
                        <div class="value">
                            <span id="countdown">No data...</span>
                        </div>
                        <div id="message-label" class="label">
                            Get Micheal to go and check it out!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="footer">
            <p>&copy; mcveigh fitbit dashboard</p>
        </div>
    </div>
</body>
</html>